<h1>SuperRentals</h1>
<nav>
  <ul>
    <li>{{#link-to 'rentals'}}Rentals{{/link-to}}</li>
    <li>{{#link-to 'index'}}Home{{/link-to}}</li>
    <li>{{#link-to 'about'}}About{{/link-to}}</li>
    <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
  </ul>
</nav>
<div class="body">
  {{outlet}}
</div>
